.view-contaier {
    padding: 2px !important;
}

.trn-profile {
    display: flex;
    align-items: center;
}

.trn-profile_icon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.trn-profile_name{
    padding: 0 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 120px;
    overflow: hidden;
}

.trn-profile_exit{
}

.trusted-btn {
    text-decoration: none;
    border: none;
    background-color: rgb(33, 150, 243);
    font-size: 14px;
    font-weight: 500;
    padding: 0 16px;
    color: #fff;
    letter-spacing: .5px;
    -webkit-transition: .2s ease-out;
    transition: .2s ease-out;
    cursor: pointer;
    text-transform: uppercase;
    vertical-align: middle;
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    outline: 0;
    webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
}

.trusted-btn:hover {
    -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15);
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15);
}

